In [3]:
import pandas as pd
import datetime as dt
import numpy as np
import scipy.stats as sps

In [4]:
df = pd.read_csv('with_variables.csv')

In [5]:
time = pd.read_csv('applications data.csv')

In [6]:
time.date = pd.to_datetime(time.date, format='%Y%m%d')

In [5]:
time[(time.date >= pd.to_datetime('2016-01-01') + dt.timedelta(14)) & (time.date < pd.to_datetime('2016-11-01'))]

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
38511,38512,2016-01-15,476774243,RASTAZMM,EEJTAXEZ,1420 SJXAM WY,58008,19570328,7355086598,0
38512,38513,2016-01-15,432844033,ESXAURS,SMJZXZMZ,2314 SZSRJ AVE,60458,19850530,837788477,0
38513,38514,2016-01-15,185477074,XMAEAEXSX,RTZRTZAS,9310 RMZTT AVE,65654,19180130,9130092903,0
38514,38515,2016-01-15,933119335,UUTXTTUAE,EMUTUJS,6950 XJERT AVE,56324,19070626,9999999999,0
38515,38516,2016-01-15,845202954,RTMMTSZRZ,SZJMSMUJ,4007 RTERR CT,50477,19271109,9999999999,0
...,...,...,...,...,...,...,...,...,...,...
833502,833503,2016-10-31,614489026,EJUJRSUMZ,EEJSTZUT,9034 UERXU RD,4529,20130609,3743139222,0
833503,833504,2016-10-31,20529638,RZRTEJXUT,UXMSSZSX,1452 RJMMA ST,68562,19550212,7155993451,0
833504,833505,2016-10-31,604655517,UTEXRMERT,EZRXRXEZ,8381 RAXMU ST,52826,19470127,9999999999,0
833505,833506,2016-10-31,171974215,EXMUXAZRX,SZUTAURS,9517 XXMMZ ST,58097,19290208,9747929283,0
833506,833507,2016-10-31,985717679,RXMJSAJZE,REAJMAEZ,4205 EZJJU BLVD,9416,19250709,5386413150,0

In [6]:
time1 = time[(time.date >= pd.to_datetime('2016-01-01') + dt.timedelta(14)) & (time.date < pd.to_datetime('2016-11-01'))]

In [7]:
df.head()

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_30,ssn_count_90,ssn_count_180,...,ssn_fulladdress_count_0_by_180,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_30,ssn_fulladdress_count_1_by_180,ssn_name_dob_count_0_by_7,ssn_name_dob_count_0_by_30,ssn_name_dob_count_0_by_180,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_30,ssn_name_dob_count_1_by_180
0,1,0.014499,0.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
1,2,0.014499,0.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
2,3,0.014499,0.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
3,4,0.014499,0.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
4,5,0.014499,0.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0

In [8]:
## leave validation set and first two weeks out
## since the records in first few weeks haven't been established well yet

df1 = df.iloc[38511: 833507, :].copy()
df1

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_30,ssn_count_90,ssn_count_180,...,ssn_fulladdress_count_0_by_180,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_30,ssn_fulladdress_count_1_by_180,ssn_name_dob_count_0_by_7,ssn_name_dob_count_0_by_30,ssn_name_dob_count_0_by_180,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_30,ssn_name_dob_count_1_by_180
38511,38512,0.014499,14.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
38512,38513,0.014499,14.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
38513,38514,0.014499,14.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
38514,38515,0.014499,14.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
38515,38516,0.014499,14.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833502,833503,0.013480,36.0,1,1,1,1,1,2,2,...,90.0,7.0,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0
833503,833504,0.013480,151.0,1,1,1,1,1,1,2,...,90.0,7.0,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0
833504,833505,0.013480,304.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
833505,833506,0.013480,304.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0
833506,833507,0.013480,304.0,1,1,1,1,1,1,1,...,180.0,7.0,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0

In [10]:
df1['label'] = time1.fraud_label
df1['random'] = np.random.uniform(size = len(time1))

In [11]:
df1.tail()

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_30,ssn_count_90,ssn_count_180,...,ssn_fulladdress_count_1_by_30,ssn_fulladdress_count_1_by_180,ssn_name_dob_count_0_by_7,ssn_name_dob_count_0_by_30,ssn_name_dob_count_0_by_180,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_30,ssn_name_dob_count_1_by_180,label,random
833502,833503,0.01348,36.0,1,1,1,1,1,2,2,...,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0,0,0.571945
833503,833504,0.01348,151.0,1,1,1,1,1,1,2,...,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0,0,0.041495
833504,833505,0.01348,304.0,1,1,1,1,1,1,1,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.145575
833505,833506,0.01348,304.0,1,1,1,1,1,1,1,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.931571
833506,833507,0.01348,304.0,1,1,1,1,1,1,1,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.109018

In [12]:
df1.label.sum() == time1.fraud_label.sum()

True

In [13]:
df1.set_index('record', inplace = True)

In [14]:
df1.shape

(794996, 311)

In [15]:
goods = df1[df1.label == 0]
bads = df1[df1.label == 1]

In [16]:
goods.shape, bads.shape

((783510, 311), (11486, 311))

## Filter

### KS score

In [18]:
ks_score = []
for column in df1:
    ks_score.append(sps.ks_2samp(goods[column], bads[column])[0])

### FDR

In [20]:
numbads = len(bads)
topRows = int(round(len(df1)*0.03))

In [21]:
df1['check_label'] = df1.label
fdr = []
for column in df1.columns[:-1]:
    temp1 = df1[[column, 'check_label']].sort_values(column, ascending = False).head(topRows)
    temp2 = df1[[column, 'check_label']].sort_values(column, ascending = True).head(topRows)
    FDR1 = temp1.check_label.sum()/numbads
    FDR2 = temp2.check_label.sum()/numbads
    fdr.append(max(FDR1, FDR2))

In [22]:
df1.drop('check_label', axis = 1, inplace = True)

### Ranking

In [23]:
rank = pd.DataFrame({
    'Field': df1.columns,
    'KS': ks_score,
    'FDR': fdr
})

In [24]:
rank['KS rank'] = rank.KS.rank()
rank['FDR rank'] = rank.FDR.rank()
rank['Average rank'] = (rank['KS rank'] + rank['FDR rank'])/2

In [25]:
rank.head()

           Field        KS       FDR  KS rank  FDR rank  Average rank
0       dow_risk  0.022088  0.033780     29.0       3.0          16.0
1  ssn_day_since  0.218523  0.242469    268.0     264.0         266.0
2    ssn_count_0  0.107093  0.134947    145.0     157.0         151.0
3    ssn_count_1  0.148704  0.175431    180.0     191.0         185.5
4    ssn_count_3  0.172102  0.198328    212.0     227.0         219.5

In [26]:
rank1 = rank.sort_values('KS rank', ascending = False)
rank1

,Field,KS,FDR,KS rank,FDR rank,Average rank
309,label,1.000000,1.000000,311.0,311.0,311.00
14,address_count_30,0.332725,0.353300,310.0,309.0,309.50
46,fulladdress_count_30,0.332032,0.354954,309.0,310.0,309.50
9,address_day_since,0.324627,0.348076,308.0,307.0,307.50
41,fulladdress_day_since,0.323543,0.349382,307.0,308.0,307.50
...,...,...,...,...,...,...
98,homephone_name_dob_count_0,0.001821,0.034825,5.0,6.5,5.75
74,fulladdress_dob_count_0,0.001812,0.034825,4.0,6.5,5.25
146,ssn_homephone_count_0,0.001793,0.034738,3.0,4.0,3.50
66,name_homephone_count_0,0.001782,0.034825,2.0,6.5,4.25
162,ssn_fulladdress_count_0,0.001774,0.034825,1.0,6.5,3.75

In [27]:
rank2 = rank.sort_values('FDR rank', ascending = False)
rank2

,Field,KS,FDR,KS rank,FDR rank,Average rank
309,label,1.000000,1.000000,311.0,311.0,311.00
46,fulladdress_count_30,0.332032,0.354954,309.0,310.0,309.50
14,address_count_30,0.332725,0.353300,310.0,309.0,309.50
41,fulladdress_day_since,0.323543,0.349382,307.0,308.0,307.50
9,address_day_since,0.324627,0.348076,308.0,307.0,307.50
...,...,...,...,...,...,...
66,name_homephone_count_0,0.001782,0.034825,2.0,6.5,4.25
146,ssn_homephone_count_0,0.001793,0.034738,3.0,4.0,3.50
0,dow_risk,0.022088,0.033780,29.0,3.0,16.00
200,homephone_count_1_by_180,0.053964,0.030820,57.0,2.0,29.50
310,random,0.007704,0.029166,19.0,1.0,10.00

In [28]:
rank3 = rank.sort_values('Average rank', ascending = False)
rank3

,Field,KS,FDR,KS rank,FDR rank,Average rank
309,label,1.000000,1.000000,311.0,311.0,311.00
14,address_count_30,0.332725,0.353300,310.0,309.0,309.50
46,fulladdress_count_30,0.332032,0.354954,309.0,310.0,309.50
9,address_day_since,0.324627,0.348076,308.0,307.0,307.50
41,fulladdress_day_since,0.323543,0.349382,307.0,308.0,307.50
...,...,...,...,...,...,...
98,homephone_name_dob_count_0,0.001821,0.034825,5.0,6.5,5.75
74,fulladdress_dob_count_0,0.001812,0.034825,4.0,6.5,5.25
66,name_homephone_count_0,0.001782,0.034825,2.0,6.5,4.25
162,ssn_fulladdress_count_0,0.001774,0.034825,1.0,6.5,3.75
146,ssn_homephone_count_0,0.001793,0.034738,3.0,4.0,3.50

In [29]:
# rank1.to_excel('rank_by_ks.xlsx', index = False)
# rank2.to_excel('rank_by_fdr.xlsx', index = False)
# rank3.to_excel('rank_by_avg.xlsx', index = False)

## Wrapper

In [30]:
df1

,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_30,ssn_count_90,ssn_count_180,address_day_since,...,ssn_fulladdress_count_1_by_30,ssn_fulladdress_count_1_by_180,ssn_name_dob_count_0_by_7,ssn_name_dob_count_0_by_30,ssn_name_dob_count_0_by_180,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_30,ssn_name_dob_count_1_by_180,label,random
record,,,,,,,,,,,,,,,,,,,,,
38512,0.014499,14.0,1,1,1,1,1,1,1,14.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.775668
38513,0.014499,14.0,1,1,1,1,1,1,1,14.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.692180
38514,0.014499,14.0,1,1,1,1,1,1,1,14.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.102605
38515,0.014499,14.0,1,1,1,1,1,1,1,14.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.859230
38516,0.014499,14.0,1,1,1,1,1,1,1,14.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.635320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833503,0.013480,36.0,1,1,1,1,1,2,2,36.0,...,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0,0,0.571945
833504,0.013480,151.0,1,1,1,1,1,1,2,151.0,...,30.0,90.0,7.0,30.0,90.0,7.0,30.0,90.0,0,0.041495
833505,0.013480,304.0,1,1,1,1,1,1,1,304.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.145575
833506,0.013480,304.0,1,1,1,1,1,1,1,304.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.931571
833507,0.013480,304.0,1,1,1,1,1,1,1,304.0,...,30.0,180.0,7.0,30.0,180.0,7.0,30.0,180.0,0,0.109018

In [61]:
## here i use ranking by average rank

filter_results = list(rank3.iloc[1:101,0])

In [62]:
df2 = df1[filter_results]
df2.head()

,address_count_30,fulladdress_count_30,address_day_since,fulladdress_day_since,address_count_90,fulladdress_count_90,address_count_180,fulladdress_count_180,address_count_7,fulladdress_count_7,...,ssn_lastname_count_0_by_180,ssn_firstname_count_0_by_180,ssn_dob_count_3,name_count_0_by_30,ssn_lastname_count_0_by_7,fulladdress_homephone_count_0_by_7,ssn_name_count_3,ssn_name_count_0_by_180,ssn_lastname_count_3,homephone_count_1
record,,,,,,,,,,,,,,,,,,,,,
38512,1,1,14.0,14.0,1,1,1,1,1,1,...,180.0,180.0,1,30.0,7.0,7.0,1,180.0,1,1
38513,1,1,14.0,14.0,1,1,1,1,1,1,...,180.0,180.0,1,30.0,7.0,7.0,1,180.0,1,2
38514,1,1,14.0,14.0,1,1,1,1,1,1,...,180.0,180.0,1,30.0,7.0,7.0,1,180.0,1,1
38515,1,1,14.0,14.0,1,1,1,1,1,1,...,180.0,180.0,1,30.0,7.0,7.0,1,180.0,1,1
38516,1,1,14.0,14.0,1,1,1,1,1,1,...,180.0,180.0,1,30.0,7.0,7.0,1,180.0,1,1

### Stepwise

In [33]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
import timeit

In [89]:
start = timeit.default_timer()
model = LogisticRegression()
rfecv = RFECV(estimator = model, step = 1, cv = 2, n_jobs = -1, verbose = 3, scoring = 'roc_auc')
rfecv.fit(df2.values, df1.label.values)
print('Total run time: {:.2f}mins'.format((timeit.default_timer() - start)/60))

In [37]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv.ranking_), df2.columns)),
                            columns = ['ranking', 'variable'])
print(var_selected)

In [38]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
cols

In [63]:
df3 = df2[cols]
df3

,address_count_0,address_count_0_by_7,address_count_1,address_count_1_by_7,address_count_3,address_count_30,address_count_7,address_count_90,fulladdress_count_0,fulladdress_count_0_by_7,...,ssn_name_count_30,ssn_name_count_7,ssn_name_count_90,ssn_name_day_since,ssn_name_dob_count_0_by_180,ssn_name_dob_count_0_by_30,ssn_name_dob_count_180,ssn_name_dob_count_30,ssn_name_dob_count_7,ssn_name_dob_count_90
record,,,,,,,,,,,,,,,,,,,,,
38512,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38513,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38514,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38515,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38516,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833503,1,7.0,1,7.0,1,1,1,2,1,7.0,...,1,1,2,36.0,90.0,30.0,2,1,1,2
833504,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,151.0,90.0,30.0,2,1,1,1
833505,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1
833506,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1
833507,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1

In [64]:
model = LogisticRegression()
rfecv = RFECV(estimator=model, step=1, cv=2, verbose=3, n_jobs=-1, scoring='roc_auc')
rfecv.fit(df3.values, df1.label.values)

Fitting estimator with 67 features.

/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

RFECV(cv=2,
      estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                   fit_intercept=True, intercept_scaling=1,
                                   l1_ratio=None, max_iter=100,
                                   multi_class='warn', n_jobs=None,
                                   penalty='l2', random_state=None,
                                   solver='warn', tol=0.0001, verbose=0,
                                   warm_start=False),
      min_features_to_select=1, n_jobs=-1, scoring='roc_auc', step=1,
      verbose=3)

In [68]:
## only one columns drop after the second select

rfecv.n_features_

66

In [67]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv.ranking_), df3.columns)),
                            columns = ['ranking', 'variable'])
print(var_selected)

    ranking                variable
0         1         address_count_0
1         1    address_count_0_by_7
2         1         address_count_1
3         1    address_count_1_by_7
4         1         address_count_3
..      ...                     ...
62        1  ssn_name_dob_count_180
63        1   ssn_name_dob_count_30
64        1    ssn_name_dob_count_7
65        1   ssn_name_dob_count_90
66        2           name_count_90

[67 rows x 2 columns]

In [71]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
len(cols)

66

In [72]:
df4 = df3[cols]
df4

,address_count_0,address_count_0_by_7,address_count_1,address_count_1_by_7,address_count_3,address_count_30,address_count_7,address_count_90,fulladdress_count_0,fulladdress_count_0_by_7,...,ssn_name_count_30,ssn_name_count_7,ssn_name_count_90,ssn_name_day_since,ssn_name_dob_count_0_by_180,ssn_name_dob_count_0_by_30,ssn_name_dob_count_180,ssn_name_dob_count_30,ssn_name_dob_count_7,ssn_name_dob_count_90
record,,,,,,,,,,,,,,,,,,,,,
38512,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38513,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38514,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38515,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
38516,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,14.0,180.0,30.0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833503,1,7.0,1,7.0,1,1,1,2,1,7.0,...,1,1,2,36.0,90.0,30.0,2,1,1,2
833504,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,151.0,90.0,30.0,2,1,1,1
833505,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1
833506,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1
833507,1,7.0,1,7.0,1,1,1,1,1,7.0,...,1,1,1,304.0,180.0,30.0,1,1,1,1

In [73]:
model = LogisticRegression()
rfecv = RFECV(estimator=model, step=1, cv=2, verbose=3, n_jobs=-1, scoring='roc_auc')
rfecv.fit(df4.values, df1.label.values)

/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

RFECV(cv=2,
      estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                   fit_intercept=True, intercept_scaling=1,
                                   l1_ratio=None, max_iter=100,
                                   multi_class='warn', n_jobs=None,
                                   penalty='l2', random_state=None,
                                   solver='warn', tol=0.0001, verbose=0,
                                   warm_start=False),
      min_features_to_select=1, n_jobs=-1, scoring='roc_auc', step=1,
      verbose=3)

In [77]:
## number of columns selected not decreasing anymore
## so I decided to use foward selection instead, where we could decide how many features to keep

rfecv.n_features_

66

### Forward

In [75]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [86]:
sfs = SFS(LogisticRegression(),
          k_features= 30,
          forward=True,
          floating=False,
          scoring = 'accuracy',
          n_jobs=-1,
          verbose = 2,
          cv = 2)
sfs.fit(df4, df1.label.values)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done  66 out of  66 | elapsed:   18.0s finished

[2020-03-07 17:56:17] Features: 1/30 -- score: 0.9883282431609719[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    7.3s
[Parallel(n_jobs=-1)]: Done  65 out of  65 | elapsed:   19.3s finished

[2020-03-07 17:56:36] Features: 2/30 -- score: 0.9902791963733151[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done  64 out of  64 | elapsed:   25.3s finished

[2020-03-07 17:57:01] Features: 3/30 -- score: 0.9907546704637508[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   18.6s
[Parallel(n_jobs=-1)]: Done  63 out of  63 | elapsed:   46.1s finished

[2020-03-07 17:57:47] Features: 4/30 -- score: 0.9907559283317149[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   19.3s
[Parallel(n_jobs=-1)]: Done  62 out of  62 | elapsed:   51.3s finished

[2020-03-07 17:58:39] Features: 5/30 -- score: 0.9907508968598584[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   21.8s
[Parallel(n_jobs=-1)]: Done  61 out of  61 | elapsed:   57.4s finished

[2020-03-07 17:59:36] Features: 6/30 -- score: 0.9907496389918944[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   26.6s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.1min finished

[2020-03-07 18:00:42] Features: 7/30 -- score: 0.9907546704637508[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   27.7s
[Parallel(n_jobs=-1)]: Done  59 out of  59 | elapsed:  1.2min finished

[2020-03-07 18:01:54] Features: 8/30 -- score: 0.9907546704637508[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   31.3s
[Parallel(n_jobs=-1)]: Done  58 out of  58 | elapsed:  1.2min finished

[2020-03-07 18:03:09] Features: 9/30 -- score: 0.9907483811239302[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   31.4s
[Parallel(n_jobs=-1)]: Done  57 out of  57 | elapsed:  1.4min finished

[2020-03-07 18:04:30] Features: 10/30 -- score: 0.9907483811239302[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   34.1s
[Parallel(n_jobs=-1)]: Done  56 out of  56 | elapsed:  1.5min finished

[2020-03-07 18:05:58] Features: 11/30 -- score: 0.9907508968598584[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   38.5s
[Parallel(n_jobs=-1)]: Done  55 out of  55 | elapsed:  1.5min finished

[2020-03-07 18:07:26] Features: 12/30 -- score: 0.9907370603122532[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   41.6s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:  1.6min finished

[2020-03-07 18:09:05] Features: 13/30 -- score: 0.9907269973685402[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   45.2s
[Parallel(n_jobs=-1)]: Done  53 out of  53 | elapsed:  1.8min finished

[2020-03-07 18:10:55] Features: 14/30 -- score: 0.9906716511781191[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   48.0s
[Parallel(n_jobs=-1)]: Done  52 out of  52 | elapsed:  1.8min finished

[2020-03-07 18:12:46] Features: 15/30 -- score: 0.9907219658966837[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   54.2s
[Parallel(n_jobs=-1)]: Done  51 out of  51 | elapsed:  2.1min finished

[2020-03-07 18:14:50] Features: 16/30 -- score: 0.9907219658966837[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  2.1min finished

[2020-03-07 18:16:58] Features: 17/30 -- score: 0.9907169344248272[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  49 out of  49 | elapsed:  2.6min finished

[2020-03-07 18:19:37] Features: 18/30 -- score: 0.9906980664053655[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:  2.8min finished

[2020-03-07 18:22:23] Features: 19/30 -- score: 0.990713160820935[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  47 out of  47 | elapsed:  3.0min finished

[2020-03-07 18:25:24] Features: 20/30 -- score: 0.9907093872170426[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  46 out of  46 | elapsed:  3.1min finished

[2020-03-07 18:28:32] Features: 21/30 -- score: 0.9906955506694373[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  3.0min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  3.0min finished

[2020-03-07 18:31:29] Features: 22/30 -- score: 0.9906791983859038[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  44 out of  44 | elapsed:  3.1min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  44 out of  44 | elapsed:  3.1min finished

[2020-03-07 18:34:35] Features: 23/30 -- score: 0.9906062420439852[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  43 out of  43 | elapsed:  3.3min finished

[2020-03-07 18:37:51] Features: 24/30 -- score: 0.9906339151391956[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  42 out of  42 | elapsed:  3.3min finished

[2020-03-07 18:41:07] Features: 25/30 -- score: 0.9906074999119492[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  39 out of  41 | elapsed:  3.4min remaining:   10.4s
[Parallel(n_jobs=-1)]: Done  41 out of  41 | elapsed:  3.4min finished

[2020-03-07 18:44:30] Features: 26/30 -- score: 0.9905760532128464[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  38 out of  40 | elapsed:  3.2min remaining:   10.1s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  3.3min finished

[2020-03-07 18:47:46] Features: 27/30 -- score: 0.9904817131155377[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  36 out of  39 | elapsed:  3.5min remaining:   17.5s

[Parallel(n_jobs=-1)]: Done  39 out of  39 | elapsed:  3.6min finished

[2020-03-07 18:51:24] Features: 28/30 -- score: 0.9904351720008655[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  35 out of  38 | elapsed:  3.5min remaining:   18.1s
[Parallel(n_jobs=-1)]: Done  38 out of  38 | elapsed:  3.8min finished

[2020-03-07 18:55:09] Features: 29/30 -- score: 0.9904565557562555[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 out of  37 | elapsed:  3.6min remaining:   26.2s
[Parallel(n_jobs=-1)]: Done  37 out of  37 | elapsed:  3.8min finished

[2020-03-07 18:58:59] Features: 30/30 -- score: 0.9904817131155377

SequentialFeatureSelector(clone_estimator=True, cv=2,
                          estimator=LogisticRegression(C=1.0, class_weight=None,
                                                       dual=False,
                                                       fit_intercept=True,
                                                       intercept_scaling=1,
                                                       l1_ratio=None,
                                                       max_iter=100,
                                                       multi_class='warn',
                                                       n_jobs=None,
                                                       penalty='l2',
                                                       random_state=None,
                                                       solver='warn',
                                                       tol=0.0001, verbose=0,
                                                       warm_start=False),
                          fixed_features=None, floating=False, forward=True,
                          k_features=30, n_jobs=-1, pre_dispatch='2*n_jobs',
                          scoring='accuracy', verbose=2)

In [88]:
final_cols = list(sfs.k_feature_names_)
final_cols

['address_count_30',
 'address_count_90',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_30',
 'fulladdress_count_90',
 'name_count_30',
 'name_dob_count_0_by_30',
 'name_dob_count_180',
 'name_dob_count_30',
 'name_dob_count_90',
 'ssn_count_30',
 'ssn_count_90',
 'ssn_dob_count_30',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_30',
 'ssn_firstname_count_90',
 'ssn_firstname_day_since',
 'ssn_lastname_count_180',
 'ssn_lastname_count_30',
 'ssn_lastname_count_90',
 'ssn_name_count_180',
 'ssn_name_count_30',
 'ssn_name_count_90',
 'ssn_name_day_since',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_90']

In [8]:
final = df[final_cols].copy()
final['label'] = time.fraud_label
final.index = df.record
final

,address_count_30,address_count_90,fulladdress_count_1,fulladdress_count_180,fulladdress_count_1_by_7,fulladdress_count_30,fulladdress_count_90,name_count_30,name_dob_count_0_by_30,name_dob_count_180,...,ssn_lastname_count_30,ssn_lastname_count_90,ssn_name_count_180,ssn_name_count_30,ssn_name_count_90,ssn_name_day_since,ssn_name_dob_count_180,ssn_name_dob_count_30,ssn_name_dob_count_90,label
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,0.0,1,1,1,0
2,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,0.0,1,1,1,1
3,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,0.0,1,1,1,0
4,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,0.0,1,1,1,0
5,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,0.0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999996,1,1,1,1,7.0,1,1,2,30.0,1,...,1,1,1,1,1,365.0,1,1,1,0
999997,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,365.0,1,1,1,0
999998,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,365.0,1,1,1,0
999999,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,365.0,1,1,1,0
1000000,1,2,1,2,7.0,1,2,1,30.0,2,...,1,2,2,1,2,47.0,2,1,2,0

In [9]:
train_test = final.loc[:833507,:]
oot = final.loc[833508:,:]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X = train_test.drop('label', axis = 1)
y = train_test.label

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
train = X_train.copy()
train['label'] = y_train
train

,address_count_30,address_count_90,fulladdress_count_1,fulladdress_count_180,fulladdress_count_1_by_7,fulladdress_count_30,fulladdress_count_90,name_count_30,name_dob_count_0_by_30,name_dob_count_180,...,ssn_lastname_count_30,ssn_lastname_count_90,ssn_name_count_180,ssn_name_count_30,ssn_name_count_90,ssn_name_day_since,ssn_name_dob_count_180,ssn_name_dob_count_30,ssn_name_dob_count_90,label
record,,,,,,,,,,,,,,,,,,,,,
813928,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,297.0,1,1,1,0
474478,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,173.0,1,1,1,0
29492,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,10.0,1,1,1,0
355294,1,1,1,2,7.0,1,1,1,30.0,2,...,1,1,2,1,1,102.0,2,1,1,0
30388,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,11.0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259179,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,95.0,1,1,1,0
365839,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,134.0,1,1,1,0
131933,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,48.0,1,1,1,0
671156,1,2,1,2,7.0,1,2,4,30.0,2,...,1,2,2,1,2,37.0,2,1,2,0
121959,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,44.0,1,1,1,0

In [19]:
test = X_test.copy()
test['label'] = y_test
test

,address_count_30,address_count_90,fulladdress_count_1,fulladdress_count_180,fulladdress_count_1_by_7,fulladdress_count_30,fulladdress_count_90,name_count_30,name_dob_count_0_by_30,name_dob_count_180,...,ssn_lastname_count_30,ssn_lastname_count_90,ssn_name_count_180,ssn_name_count_30,ssn_name_count_90,ssn_name_day_since,ssn_name_dob_count_180,ssn_name_dob_count_30,ssn_name_dob_count_90,label
record,,,,,,,,,,,,,,,,,,,,,
210290,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,77.0,1,1,1,0
752011,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,275.0,1,1,1,0
339758,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,124.0,1,1,1,0
13237,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,4.0,1,1,1,0
57599,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,20.0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140500,1,1,1,1,7.0,1,1,7,30.0,1,...,1,1,1,1,1,51.0,1,1,1,0
753417,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,275.0,1,1,1,0
184347,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,68.0,1,1,1,0
328687,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,120.0,1,1,1,0
794121,1,1,1,1,7.0,1,1,1,30.0,1,...,1,1,1,1,1,290.0,1,1,1,0

In [21]:
# train.to_csv('train.csv')
# test.to_csv('test.csv')
# oot.to_csv('oot.csv')