In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('Cleaned_data.csv')

In [23]:
df = df[['RECORD', 'B','BBLE', 'ZIP', 'BLOCK', 'BLDGCL', 'TAXCLASS', 'STORIES',
            'LTFRONT', 'LTDEPTH', 'BLDFRONT', 'BLDDEPTH', 'FULLVAL', 'AVTOT', 'AVLAND']]

In [24]:
null_zero = pd.DataFrame(dict(zip(['# of null', '# of zeros'], [df.isna().sum(), (df == 0).sum()])))
null_zero

          # of null  # of zeros
RECORD            0           0
B                 0           0
BBLE              0           0
ZIP               0           0
BLOCK             0           0
BLDGCL            0           0
TAXCLASS          0           0
STORIES           0           0
LTFRONT           0           0
LTDEPTH           0           0
BLDFRONT          0           0
BLDDEPTH          0           0
FULLVAL           0       13007
AVTOT             0       13007
AVLAND            0       13009

In [25]:
mean = df.groupby(['ZIP', 'BLDGCL'])['FULLVAL'].mean()
cou = df.groupby(['ZIP', 'BLDGCL'])['FULLVAL'].count()

mean_cou = pd.DataFrame(dict(zip(['fullval mean', 'group size'], [mean, cou])))
mean_cou['null group'] = mean_cou['fullval mean'].apply(lambda x: 'Yes' if pd.isnull(x) else 'No')

null_mean_cou = mean_cou[mean_cou['null group'] == 'Yes']
null_mean_cou

Empty DataFrame
Columns: [fullval mean, group size, null group]
Index: []

In [27]:
mean_cou[mean_cou['group size'] < 5]

                fullval mean  group size null group
ZIP     BLDGCL
10001.0 A4      2.790000e+06           2         No
        A5      8.100000e+06           1         No
        A9      3.185000e+06           2         No
        B9      3.675000e+06           2         No
        C2      4.633333e+06           3         No
...                      ...         ...        ...
11697.0 D1      1.020000e+06           1         No
        G9      1.810000e+05           1         No
        P6      3.490000e+07           1         No
        Y4      4.180000e+06           2         No
        Z9      8.361000e+07           2         No

[7639 rows x 3 columns]

In [20]:
def fill_fullval(x):
    z = x[0]
    bl = x[1]
    fullval = x[2]
    
    if fullval == 0:
        return df[(df.ZIP == z) & (df.BLDGCL == bl)]['FULLVAL'].median()
    else:
        return fullval

In [28]:
#df['FULLVAL'] = df[['ZIP', 'BLDGCL', 'FULLVAL']].apply(fill_fullval, axis = 1)

In [29]:
#(df.FULLVAL == 0).sum()

In [30]:
mean = df.groupby(['ZIP', 'BLDGCL'])['AVTOT'].mean()
cou = df.groupby(['ZIP', 'BLDGCL'])['AVTOT'].count()

mean_cou = pd.DataFrame(dict(zip(['fullval mean', 'group size'], [mean, cou])))
mean_cou['null group'] = mean_cou['fullval mean'].apply(lambda x: 'Yes' if pd.isnull(x) else 'No')

null_mean_cou = mean_cou[mean_cou['null group'] == 'Yes']
null_mean_cou

Empty DataFrame
Columns: [fullval mean, group size, null group]
Index: []

In [31]:
mean_cou[mean_cou['group size'] < 5]

                fullval mean  group size null group
ZIP     BLDGCL
10001.0 A4           89917.0           2         No
        A5           90370.0           1         No
        A9           73593.0           2         No
        B9           63246.5           2         No
        C2          201001.0           3         No
...                      ...         ...        ...
11697.0 D1          459000.0           1         No
        G9           81450.0           1         No
        P6        15705000.0           1         No
        Y4         1881000.0           2         No
        Z9        37624500.0           2         No

[7639 rows x 3 columns]

In [ ]:
def fill_avtot(x):
    z = x[0]
    bl = x[1]
    avtot = x[2]
    
    if fullval == 0:
        return df[(df.ZIP == z) & (df.BLDGCL == bl)]['FULLVAL'].median()
    else:
        return fullval